@if(loading){
  <h1>loading...</h1>
}@else{
<section
class="breadcumb-area bg-img d-flex align-items-center justify-content-center"
style="background-image: url(assets/Images/resaption1.jpg)"
></section>
<section class="contact-information-area mt-5">
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="section-heading text-center">
        <div class="line-"></div>
        <h2
          style="font-weight: 500; font-family: Arial, Helvetica, sans-serif; color: #107980;"
        >
          LOCATION
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    @for(branch of Branches; track branch._id){
    <div class="col-12 col-lg-4">
      <div class="single-contact-information mb-100">
        <div class="section-text">
          <h3 style="text-transform: uppercase; font-weight: 700" style="color: #107980;">
            {{ branch.name }}
          </h3>
          <p>
            {{ branch.overview }}
          </p>
        </div>

        <div class="contact-content d-flex align-items-center">
          <p><i class="fa-solid fa-map-location-dot"></i></p>
          <p>{{ branch.address }}</p>
        </div>

        <div class="contact-content d-flex align-items-center">
          <p><i class="fa-solid fa-phone-volume"></i></p>
          <p>{{ branch.phone }}</p>
        </div>

        <div class="contact-content d-flex align-items-center">
          <p><i class="fa-solid fa-envelope"></i></p>
          <p>{{ branch.email }}</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
</section>
<div class="map-area mb-100">
<div class="container">
  <div class="row">
    <div class="col-12">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22236.40558254599!2d-118.25292394686001!3d34.057682914027104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z4Kay4Ka4IOCmj-CmnuCnjeCmnOCnh-CmsuCnh-CmuCwg4KaV4KeN4Kav4Ka-4Kay4Ka_4Kar4KeL4Kaw4KeN4Kao4Ka_4Kav4Ka84Ka-LCDgpq7gpr7gprDgp43gppXgpr_gpqgg4Kav4KeB4KaV4KeN4Kak4Kaw4Ka-4Ka34KeN4Kaf4KeN4Kaw!5e0!3m2!1sbn!2sbd!4v1532328708137"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
</div>

}