
                <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <div class="slide-img bg-img  " style="background-image: url(assets/img/bg-img/sea.jpg);"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <div class="line" data-animation="fadeInUp" data-delay="300ms"></div>
                                <h2 style="color: #fff;">A place to remember</h2>
                                <p style="color:#D9C5BC   ;" data-animation="fadeInUp" data-delay="700ms">Escape the ordinary and experience unforgettable hospitality at our stunning hotel. Immerse yourself in comfort and create lasting memories in the heart of</p>
                                <form class="form-inline active-pink-3 active-pink-1 d-flex flex-column" [formGroup]="filter">
                                    <input class="form-control form-control-sm mt-2 mx-auto w-50" (input)="chgInput()" type="text" 
                                         placeholder="Search" formControlName="searchinput" aria-label="Search " style="border:none;"/>
                                    <div class="w-50 search-taple-container">
                                      <table class="bg-white w-100 search-taple">
                                        <tbody class="text-center" >
                                          @for(room of filteredroom ;track room.id){
                                          <tr class="search-option">
                                            <a routerLink="/rooms/{{ room._id }}" class="text-decoration-none text-dark search-option-anchor"
                                              ><td>{{ room.type }}-{{ room.branchName }}</td></a
                                            >
                                          </tr>
                                          }
                                        </tbody>
                                      </table>
                                    </div>
                                  </form>
                                <button routerLink="/about" class=" palatin-btn mt-50" >Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
    <div class=" row m-0 text-center mb-5 mt-5">
        <div class=" col-lg-4">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/349607880.jpg?k=598901feedf6dd4bbe8c74e6b50efccfc5f1a216458987f78f6dfda63733038d&o=&hp=1" style="width: 80%;">
          <h2 class="fw-normal mt-2" style="color: #107980;">Tokyo Branch</h2>
          <p  style="color: #76A1A7; font-size:17px;">Immerse yourself in the vibrant culture of Tokyo with our newest branch. Strategically located for exploring the city's attractions,
             this branch offers a perfect fusion of contemporary design and traditional hospitality. </p>
        </div>
        <div class="col-lg-4">
            <img src="https://www.telegraph.co.uk/content/dam/Travel/hotels/galleries/luxury-transfers/st-regis-new-york.jpg" style="width: 85%;">
            <h2 class="fw-normal mt-2" style="color: #107980;">New York Branch</h2>
            <p style="color: #76A1A7; font-size:17px;" >Discover luxury in the bustling metropolis of New York at our sophisticated branch. Boasting modern amenities, panoramic views, and a prime location,
                it provides an unparalleled experience for both business and leisure travelers.</p>
        </div>
        <div class="col-lg-4">
            <img src="https://hips.hearstapps.com/hmg-prod/images/best-hotels-in-london-lead-6404efe191f9d.jpg?resize=1200:*" style="width: 80%;">
            <h2 class="fw-normal mt-2" style="color: #107980;">London Branch</h2>      
            <p style="color: #76A1A7; font-size:17px;">Our classic London branch, situated in the heart of the city, offers a blend of elegance and comfort. With easy access 
                to iconic landmarks and exceptional service, it's an ideal choice for a memorable stay.</p>
        </div>
      </div>
    <section class="pool-area section-padding-100 " style="background-image: url(assets/img/bg-img/pool5.jpg);" >
        <div class="container" >
            <div class="row justify-content-end" >
                <div class="col-12 col-lg-7" >
                    <div class="pool-content text-center wow fadeInUp"  data-wow-delay="300ms">
                        <div class="section-heading text-center white">
                            <div class="line-"></div>
                            <h2>Infinity Pool</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum.</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="pool-feature">
                                    <i class="icon-cocktail-1"></i>
                                    <p>Pool Beachbar</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="pool-feature">
                                    <i class="icon-swimming-pool"></i>
                                    <p>Infinity Pool</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="pool-feature">
                                    <i class="icon-beach"></i>
                                    <p>Sunbeds</p>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us-area ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="about-text text-center mb-50">
                        <div class="section-heading text-center">
                            <div  class="line- mt-4"></div>
                            <h2 style="color: #107980  ;">A place to remember</h2>
                        </div>
                        <p style="color: #76A1A7;"> Our Luxury Hotel offers a unique and unforgettable experience, with luxurious amenities, stunning beach views, and plenty of opportunities for relaxation and adventure.</p>
                        <div class="about-key-text">
                            <h6  style="color:#107980 ;"><span   class="fa fa-check"></span> Guests can enjoy a variety of activities, including golf, spa treatments, and fitness classes.</h6>
                            <h6 style="color: #107980;" ><span  class="fa fa-check"></span> The resort is currently offering a 4th night free with certain bookings and a daily breakfast credit.</h6>
                        </div>
                        <button routerLink="/about" class=" palatin-btn mt-50">Read More</button>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail homepage mb-75">
                        <div class="first-img wow fadeInUp" data-wow-delay="100ms">
                            <img src="assets/img/bg-img/5.jpg" alt="">
                        </div>
                        <div class="second-img wow fadeInUp" data-wow-delay="300ms">
                            <img src="assets/img/bg-img/6.jpg" alt="">
                        </div>
                        <div class="third-img wow fadeInUp" data-wow-delay="500ms">
                            <img src="https://hips.hearstapps.com/hmg-prod/images/grand-hotel-tremezzo-6479210d9dae0.jpeg?crop=0.671xw:1.00xh;0.0749xw,0&resize=640:*" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
          <div class="col-12 mt-0 ">
           <div class="elements-title ">
            <h1 style="color: #107980; text-align: center ; margin-top: 4rem; margin-bottom:3rem; font-size:3rem;">Our Gallery</h1>
            </div>
            </div>
                <div class="col-12 ">
                    <div class="row ">                         
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 ">
                            <img src="https://hips.hearstapps.com/hmg-prod/images/como-point-yamu-villa-exterior-1517327850.jpg"
                             style="height:100% ; width:100%; border: 3px solid #0c5b61  ;">                                             
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3  mb-3">
                            <img src="https://www.momondo.co.uk/kimg/e0/2f/3a3f34a6754526c3.jpg" 
                            style="height:100% ; width:100%; border: 3px solid #0c5b61;">
                        </div>                        
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 " >
                            <img src="https://www.santorini-secret.com/wp-content/uploads/2021/09/IMG_4360-1620x1080.jpg"
                             style="height:100% ; width:100% ; border: 3px solid #0c5b61;"> 
                        </div>                       
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" >
                                <img src="https://www.sovereign.com/-/media/bynder/sovereign-properties/spain/balearic-islands/ibiza/bliss-hotel-ibiza/facilities/bless-ibiza-2022-epic-lounge-restaurant-004-121844-hybris.jpg?rev=5435cc66a5c6457099abc161692a0e40" 
                                style="height:100% ; width:100%; border: 3px solid #0c5b61;">
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 ">      
                            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/147353344.jpg?k=6d7687e0cfb1dde6366589625025088cf775e2d363d1fb58ab99c84d7c0f090e&o=&hp=1" style="height:100% ; width:100%; border: 3px solid #0c5b61;">
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                            <img src="https://ocean-view-penthouse-strand-za.booked.net/data/Photos/OriginalPhoto/3224/322447/322447732/Ocean-View-Penthouse-Apartment-Strand-Exterior.JPEG" style="height:100% ; width:100%; border: 3px solid #0c5b61;">
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 ">
                            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/22/6d/2a/3d/views-wellness-emporium.jpg?w=700&h=-1&s=1" style="height:100% ; width:100%; border: 3px solid #0c5b61;">
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" >
                            <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/e7/e3/1e/getlstd-property-photo.jpg" style="height:100% ; width:100%; border: 3px solid #0c5b61;" >
                        </div>
                    </div>
                </div>  
    <section class="recommend-blog-section spad ">
        <div class="container-fluid p-4 text-center ">
            <div class="row " style="margin-top: 4rem;">
                <div class="col-lg-12">
                    <div class="section-title ">
                        <h2 style="text-align: center; color: #107980; font-size:3rem;">Blog & <span style="color: black; font-size:3rem;">Events</span></h2>
                    </div>
                </div>
            </div>
            <div class="row " >
                @for(evt of events;track evt.id){
                <div class=" col-md-4 " >
                    <div class="blog-item set-bg" >
                        <img src={{evt.image}} style="height:85%; width:100%;" >
                        <div class="bi-text"style="height: 30%;">
                            <span class="b-tag" >{{evt.name}}</span>
                            <h4><a href="#">{{evt.type}}</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i>{{evt.date}}</div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </section>