@if(loading){
  <h1>loading...</h1>
}@else{
  <section>
    <div class="container">
        <div class="jumbotron  bg-img" style="background-image: url(https://cache.marriott.com/content/dam/marriott-renditions/CCUWI/ccuwi-suite-5034-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*); height: 20rem;" >
            <div class="container mb-5">
            </div>
          </div>
          <div class="row mb-2 " >
            @if(Reviews){
                @for(Rev of Reviews ; track Rev.id){
            <div class="col-md-6 g-5 " id="divRev" >
              <div class="card flex-md-row mb-4  h-md-250  h-100 " style="background-color: #76A1A7;">
                <div class="card-body d-flex flex-column align-items-start ">
                  <h3 class="mb-0">
                    <img class="avatar avatar-xxl rounded-circle" style="height:5rem ;width:5rem"  data-src={{Rev.imageUrl}} alt="Card image cap">

                    <a class="text-light ml-2" href="#">{{Rev.author}}</a>
                  </h3>
                  <div class="mb-1" style="color: #EDE1CF;"> {{Rev.date}}  </div>
                  <p class="card-text mb-auto" style="color: #107980;"> {{Rev.text}} </p>
                <app-star-rating [(value)]="Rev.rating"></app-star-rating>
                </div>
              </div>
            </div>
        }
    }
          </div>
        </div>
<div class="album py-5 " style="background-color: #EDE1CF;">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow" style="background-color:#D9C5BC;">
        <img class="card-img-top" src="https://s7d1.scene7.com/is/image/marriotts7prod/lc-buepl-breakfast-buffet-37816-74699:Classic-Hor?wid=1215&fit=constrain"  alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-center" style="color: #107980;">You can choose your Room with our variety of Food and Snacks 🍔🍜 </p> 
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow " style="background-color:#D9C5BC;">
        <img class="card-img-top" src="https://i.pinimg.com/originals/3a/a0/4e/3aa04ecb8fe2023bc327f9b66a2d9166.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-center"  style="color: #107980;"> Our View feature is amazing ! you can see sea and beauty in front of you 🌊</p>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4  shadow" style="background-color:#D9C5BC;">
        <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/0e/86/bf/17/this-room-surprises-us.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-center" style="color: #107980;">You can ask for honeymoon features for couples 💕😍</p>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
</div>
   <div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel" style="margin-top: 4rem;" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner " >
      <div class="carousel-item active " data-bs-interval="2500">
        <img src="https://static.trip101.com/paragraph_media/pictures/002/720/974/large/114219671.jpg?1678163454" class=" image d-block w-75 mx-auto"> 
        <h1 class="carousel-caption   d-md-block   mb-5" style="font-size: 4rem; color: #b9e4e9;background-color: hsla(0, 0%, 0%, 0.34)">London Theme</h1>
      </div>
      <div class="carousel-item " data-bs-interval="2500">
        <img src="https://www.princehotels.com/shiomi/wp-content/uploads/sites/59/2019/11/tokyo-bay-shiomi-prince-hotel-deluxe-corner-twin-room-1920.jpg" class="image d-block w-75 mx-auto">
        <h1 class="carousel-caption  d-md-block  mb-5" style="font-size: 4rem; color: #e7d6cf; background-color: hsla(0, 0%, 0%, 0.34)" > Tokyo Theme </h1>
      </div>
      <div class="carousel-item " data-bs-interval="2500">
        <img src="https://www.telegraph.co.uk/content/dam/Travel/hotels/2022/september/carlyle-new-york-p.jpg" class="image d-block w-75 mx-auto" >
          <h1 class="carousel-caption  d-md-block  mb-5" style="font-size: 4rem; color: #eaded9;background-color: hsla(0, 0%, 0%, 0.34)">NewYork Theme </h1>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<section class="room-details-section spad">
    <div class="container">
        <div class="row">    
            @if(roomdetails){
            <div class="col-lg-12" style="margin-top: 9rem; ">
                <div class="room-details-item shadow p-3 ">
                    <div style="text-align: center;margin-top:1rem;">
                    <img  src={{roomdetails.image}} alt="" style="border:3px solid #0b3c40; " width="70%">
                </div>
                    <div class="rd-text text-center" >
                        <h1 style="color:#107980 ;text-align: center; margin-top: 20px; ">{{roomdetails.type}}</h1>
                        <h2 style="color:#CC8770 ;">{{roomdetails.basePrice}}$<span>/Pernight</span></h2>
                       <h3 style="color: #76A1A7;">Extra Person : {{roomdetails.extraPerson}}</h3>
                       <h4 style="color:#CC8770;"> Maximum Occupancy : {{roomdetails.maximumOccupancy}}</h4>
                       <h5 style="color: #107980;">Services : {{roomdetails.services}}</h5>
                        <p class="f-para" style="color: #107980;">Description : {{roomdetails.description}}     </p>
                        <button class="btn palatin-btn shadow" routerLink="/reservation">Book Now </button>
                    </div>
                </div>
            </div>
        }      
          <form class="container py-5" [formGroup]="ReadReviews" >
            <div class="row d-flex justify-content-center">
              <div class="col-md-8 col-lg-12 col-xl-12">
                <div class="card rounded-3 shadow" style="background-color: #76A1A7;" >
                  <div class="card-body  my-2 mx-auto w-75">
                    <div class="d-flex align-items-center" >
                      <div>
                       <img src="https://static.thenounproject.com/png/76795-200.png">
                      </div>
                      <div class=''>
                        <p class="d-flex flex-column mb-0">
                    <input type="text" class="form-control" name="name" placeholder="username" formControlName="author">
                        </p>
                      </div>         
                    </div>
                    <div class=" text-center " >
                        <input type="number"#rating value="" class="form-control mb-3 " formControlName="rating" name="rating"  placeholder="rating">
                        <textarea type="text" class="form-control mb-3 " placeholder="your review" formControlName="text" ></textarea>
                          <div class="d-flex flex-column">
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pb-1">
                      <button type="submit" class="btn mx-auto text-light"  style="background-color:#107980;" (click)="AddReviews()">Submit Now</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>  
        </div>
    </div>
</section>
</section>
}