@if(loading){
    <h1>loading...</h1>
}@else{
    <div  class="container-fluid mt-5 mb-5  w-50">
        @if (roomObj) {
            <form [formGroup]="myvalidation" style="background-color: #76A1A7;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
            transition: all .2s ease-in-out; font-size:15pt;font-weight: 600; border-radius: 15px;" class="form p-4">
                <div class="row mb-3">
                    <div class="col-12">
                        <img src={{roomObj.image}} style="border-radius: 8px;margin-left: 8rem;" class="img w-50 mb-3" alt="Room"/>
                        <h4 class="text-start font-weight-bold text-dark"> $ {{ roomObj.basePrice }}</h4>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" style="color: #1b3f4c;">Type</label>
                        <input type="text"  #type formControlName="type" value={{roomObj.type}}  class="form-control" placeholder="Type">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" style="color: #1b3f4c;">Standard Occupancy</label>
                        <input type="number"  #standardOccupancy formControlName="standardOccupancy" value={{roomObj.standardOccupancy}} class="form-control" placeholder="standardOccupancy">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" style="color: #1b3f4c;">Maximum Occupancy</label>
                        <input type="number"  #maximumOccupancy formControlName="maximumOccupancy" value={{roomObj.maximumOccupancy}} class="form-control" placeholder="maximumOccupancy">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" style="color: #1b3f4c;">Image URL</label><br/>
                        <input type="file" accept="image/*"  #image formControlName="image"   (change)="onFileSelected($event)" value={{roomObj.image}}  class="form-control" placeholder="image">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" style="color: #1b3f4c;">Base Price</label>
                        <input type="number"  #basePrice formControlName="basePrice" value={{roomObj.basePrice}}  class="form-control" placeholder="basePrice">
                    </div>
                </div>
    
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" style="color: #1b3f4c;">Extra Person</label>
                        <input type="number"  #extraPerson formControlName="extraPerson" value={{roomObj.extraPerson}} class="form-control" placeholder="extraPerson">
                    </div>
                </div>
    
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" style="color: #1b3f4c;">Services</label>
                        <input type="text"  #services formControlName="services" value={{roomObj.services}}  class="form-control" placeholder="services">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" style="color: #1b3f4c;">Description</label>
                        <textarea rows="4" cols="4"  #description formControlName="description" value={{roomObj.description}}  class="form-control" placeholder="description"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" style="color: #1b3f4c;">Quantity</label>
                        <input type="number"  #quantity formControlName="quantity" value={{roomObj.quantity}}  class="form-control" placeholder="quantity">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" style="color: #1b3f4c;">Branch Id</label>
                        <input type="number"  #branchId formControlName="branchId" value={{roomObj.branchId}}  class="form-control" placeholder="branchId">
                    </div>
                </div>
                <div style="margin-top: 20px; display: flex; justify-content: center;">
                    <button (click)="UpdateRoom(type.value,standardOccupancy.value,maximumOccupancy.value,basePrice.value,extraPerson.value,services.value,description.value,quantity.value,branchId.value)"
                    class="btn" style="margin-right: 9px;background-color: #107980; color: white;width: 40%; ">Update</button>
                </div> 
            </form>
    }
    </div>  
}