<footer class="footer-area  " >
    <div class="container ">
      <div class="row h-100" >    
        <div class="col-12 col-lg-5 col-md-12 ">
          <div class="footer-widget-area mt-50">
            <h5 style="color:antiquewhite;">About Us</h5>
            <p>
              Experience unparalleled luxury at The Grand Haven, 
              featuring opulent rooms, world-class amenities, 
              and breathtaking views, all set in a prime location.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" >
        <div class="footer-widget-area mt-50">
            <h6 class="widget-title text-center mb-5">Find us on the map</h6>
            <img src="assets/img/bg-img/map.png" alt="" />
          </div> 
        </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="footer-widget-area mt-50">
                <h6 class="widget-title mb-5 text-center">Subscribe to our newsletter</h6>
                <form action="#" method="post" class="subscribe-form">
                  <input
                    type="email"
                    name="subscribe-email"
                    id="subscribeemail"
                    placeholder="Your E-mail"
                  />
                  <button type="btn palatin-btn ">Subscribe</button>
                </form>
            </div>
        </div>
          <div class="col-12">
            <div class="copywrite-text text-center mt-30">
              <p>
                Copyright &copy; All rights reserved | This template is made with
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                by <a href="" target="_blank">AASSM</a>
              </p>
            </div>
          </div>
        </div>
      </div>
  </footer>

  